$primary-brand-background-color: #0039C9;
$primary-brand-color: #0039C9;

$secondary-brand-background-color: #FFF;
$secondary-brand-color: #FFF;

$tertiary-background-color: #000;
$tertiary-brand-color: #000;
