@mixin btnDefaultState($background-color, $border-color, $color: $secondary-brand-color) {
	background-color: $background-color;
	border-color: $border-color;
	color: $color;
}

@mixin btnHoverFocus($background-color, $border-color, $color: $secondary-brand-color) {
	background-color: $background-color;
	border-color: $border-color;
	color: $color;
}

.btn-xl {
	border-radius: 0;
	font-size: 19px;
	margin: 5px;
	padding: $button-padding;
}

.btn-theme-default {
	@include btnDefaultState($tertiary-background-color, $secondary-brand-color);

	&:hover, &:focus {
		@include btnHoverFocus($primary-brand-background-color, $primary-brand-color);
	}
}

.btn-theme-primary {
	@include btnDefaultState($primary-brand-background-color, $primary-brand-color);

	&:hover, &:focus {
		@include btnHoverFocus($tertiary-background-color, $secondary-brand-color);
	}
}

.btn-theme-complementary {
	@include btnDefaultState($tertiary-background-color, $tertiary-background-color);

	&:hover, &:focus {
		@include btnHoverFocus($tertiary-background-color, $secondary-brand-color);
	}
}